<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" preCondition="integratedMode"
           type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"
           resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="RestaurantMenuEntities" connectionString="metadata=res://*/RestaurantMenuModel.csdl|res://*/RestaurantMenuModel.ssdl|res://*/RestaurantMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=RestaurantMenu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
